<app-navbar></app-navbar>

<div class="container pt-2">
    <router-outlet></router-outlet>

    <div class="row mt-4">
        <div class="col">
            <div class="alert alert-warning small text-center p-1">
                This page is under construction.
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>