<form name="yml-configuration">
    <fieldset class="card card-body shadow my-1 p-2 pe-4">
        <div class="mb-1 row">
            <label for="image" class="col-sm-3 form-label">Image</label>
            <input
                id="image"
                name="image"
                type="text"
                class="col form-control form-control-sm"
                [(ngModel)]="config.image"
                (keyup)="update()" />
        </div>

        <div class="mb-1 row">
            <label for="restart" class="col-sm-3 form-label">Restart</label>
            <select
                id="restart"
                name="restart"
                class="col form-select form-select-sm"
                [(ngModel)]="config.restart"
                (change)="update()">
                <option [ngValue]=""></option>
                <option [ngValue]="'always'">always</option>
                <option [ngValue]="'on-failure'">on-failure</option>
                <option [ngValue]="'unless-stopped'">unless-stopped</option>
            </select>
        </div>

        <div class="mb-1 row">
            <label for="security" class="col-sm-3 form-label">Security</label>
            <select
                id="security"
                name="security"
                class="col form-select form-select-sm"
                [(ngModel)]="config.security"
                (change)="update()">
                <option [ngValue]="undefined"></option>
                <option [ngValue]="IYMLConfigurationSecurity.Insecure">Insecure</option>
                <option [ngValue]="IYMLConfigurationSecurity.Password">Password</option>
                <option [ngValue]="IYMLConfigurationSecurity.Secure">Secure</option>
            </select>
        </div>

        <div class="mb-1 row">
            <label for="indent" class="col-sm-3 form-label">Indent</label>
            <select
                name="indent"
                class="col form-select form-select-sm"
                [(ngModel)]="config.indent"
                (change)="update()">
                <option [ngValue]="'  '">2 spaces</option>
                <option [ngValue]="'    '">4 spaces</option>
            </select>
        </div>
    </fieldset>

    <fieldset *ngIf="config.bundles" class="card card-body shadow my-1 p-2 pe-4">
        <legend>Bundles:</legend>

        <div class="row px-3">
            <div *ngIf="config.bundles.node" class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-angular"
                    name="bundles-angular"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.angular"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-angular">Angular</label>
            </div>

            <div *ngIf="config.bundles.node" class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-nestjs"
                    name="bundles-nestjs"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.nestjs"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-nestjs">NestJS</label>
            </div>

            <div class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-c"
                    name="bundles-c"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.c"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-c">C/C++</label>
            </div>

            <div class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-docker"
                    name="bundles-docker"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.docker"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-docker">Docker</label>
            </div>

            <div class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-go"
                    name="bundles-go"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.go"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-go">Golang</label>
            </div>

            <div *ngIf="config.bundles.node" class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-react"
                    name="bundles-react"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.react"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-react">React</label>
            </div>

            <div class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-rust"
                    name="bundles-rust"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.rust"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-rust">Rust</label>
            </div>

            <div *ngIf="config.bundles.node" class="col-sm-6 col-md-4 form-check">
                <input
                    id="bundles-vue"
                    name="bundles-vue"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.bundles.vue"
                    (change)="update()" />
                <label class="form-check-label small" for="bundles-vue">Vue</label>
            </div>
        </div>

        <hr />

        <div class="mb-1 row">
            <label for="bundles-node" class="col-sm-3 form-label small">Node</label>
            <select
                id="bundles-node"
                name="bundles-node"
                class="col form-select form-select-sm"
                [(ngModel)]="config.bundles.node"
                (change)="update()">
                <option [ngValue]=""></option>
                <option [ngValue]="'16'">Node 16.x</option>
                <option [ngValue]="'18'">Node 18.x</option>
                <option [ngValue]="'19'">Node 19.x</option>
                <option [ngValue]="'20'">Node 20.x</option>
                <option [ngValue]="'21'">Node 21.x</option>
                <option [ngValue]="'20'">Node LTS</option>
            </select>
        </div>

        <div class="mb-1 row">
            <label for="bundles-php" class="col-sm-3 form-label small">PHP</label>
            <select
                id="bundles-php"
                name="bundles-php"
                class="col form-select form-select-sm"
                [(ngModel)]="config.bundles.php"
                (change)="update()">
                <option [ngValue]=""></option>
                <option [ngValue]="'apache'">On Apache</option>
                <option [ngValue]="'nginx'">On Nginx</option>
            </select>
        </div>
    </fieldset>

    <fieldset *ngIf="config.features" class="card card-body shadow my-1 p-2 pe-4">
        <legend>Features:</legend>

        <div class="row px-3">
            <div class="col-sm-6 col-md-4 form-check">
                <input
                    id="features-web-coder"
                    name="features-web-coder"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="config.features.webCoder"
                    (change)="update()" />
                <label class="form-check-label small" for="features-web-coder"> Use Web-coder </label>
            </div>
        </div>
    </fieldset>

    <fieldset *ngIf="config.ports" class="card card-body shadow my-1 p-2 pe-4">
        <legend>Ports:</legend>

        <div class="mb-1 row">
            <label for="port-ssh" class="col-sm-3 form-label">
                <small>SSH Port</small>
            </label>
            <input
                id="port-ssh"
                name="port-ssh"
                type="number"
                class="col form-control form-control-sm"
                [(ngModel)]="config.ports.ssh"
                (keyup)="update()" />
        </div>

        <div class="mb-1 row">
            <label for="port-monitor" class="col-sm-3 form-label">
                <small>Monitor Port</small>
            </label>
            <input
                id="port-monitor"
                name="port-monitor"
                type="number"
                class="col form-control form-control-sm"
                [(ngModel)]="config.ports.monitor"
                (keyup)="update()" />
        </div>

        <div *ngIf="this.config.features && this.config.features.webCoder" class="mb-1 row">
            <label for="port-web-coder" class="col-sm-3 form-label">
                <small>WebCoder Port</small>
            </label>
            <input
                id="port-web-coder"
                name="port-web-coder"
                type="number"
                class="col form-control form-control-sm"
                [(ngModel)]="config.ports.webCoder"
                (keyup)="update()" />
        </div>
    </fieldset>

    <fieldset *ngIf="config.directories" class="card card-body shadow my-1 p-2 pe-4">
        <legend>Directories:</legend>

        <div class="mb-1 row">
            <label for="directories-code" class="col-sm-3 form-label">
                <small>Codes Directory</small>
            </label>
            <input
                id="directories-code"
                name="directories-code"
                type="text"
                class="col form-control form-control-sm"
                [(ngModel)]="config.directories.code"
                (keyup)="update()" />
        </div>

        <div class="mb-1 row">
            <label for="directories-cache" class="col-sm-3 form-label">
                <small>Cache Directory</small>
            </label>
            <input
                id="directories-cache"
                name="directories-cache"
                type="text"
                class="col form-control form-control-sm"
                [(ngModel)]="config.directories.cache"
                (keyup)="update()" />
        </div>

        <div class="mb-1 row">
            <label for="directories-ssh" class="col-sm-3 form-label">
                <small>Cache SSH Directory</small>
            </label>
            <input
                id="directories-ssh"
                name="directories-ssh"
                type="text"
                class="col form-control form-control-sm"
                [(ngModel)]="config.directories.ssh"
                [disabled]="!config.directories.sshSeparated"
                (keyup)="update()" />
        </div>
        <div class="form-check ps-5">
            <input
                id="directories-ssh-separated"
                name="directories-ssh-separated"
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="config.directories.sshSeparated"
                (change)="update()" />
            <label class="form-check-label small" for="directories-ssh-separated">
                <small>SSH configurations don't go into '{{ config.directories.cache }}'.</small>
            </label>
        </div>
    </fieldset>
</form>
