th.trim,
td.trim {
    width: 1px;
}

.nowrap {
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

#global-loading {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    left: 0px;
    padding-top: 30%;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: calc(var(--bs-modal-zindex) + 10);

    &:not(.htmx-request) {
        visibility: hidden;
    }
}

body {
    &:not(.htmx-request) {
        .monitors-page,
        .system-page {
            .loading-indicator {
                visibility: hidden;
            }
        }
    }
}

.table > :not(caption) > * > * {
    background-color: transparent;
    color: var(--bs-body-color);
}

.system-page {
    .card {
        margin-bottom: 5px;
    }

    .load-card {
        .card-body {
            font-family: monospace;

            .current-load {
                font-size: 3em;
            }
        }
    }

    .stats-card {
        table.table {
            th::after {
                content: ':';
            }
        }
    }

    .process-table {
        font-family: monospace;

        th,
        td {
            min-width: 1px;
            padding-left: 10px;
            padding-right: 10px;
            white-space: nowrap !important;

            &.clickable {
                cursor: pointer;
            }
        }
    }
}
