<div class="row">
    <div class="col">
        <h4>Configuration Builder</h4>
    </div>
</div>
<div class="row mb-3 border-bottom">
    <div class="col text-end small">
        Choose the features you need and download your configuration zip
    </div>
</div>

<div class="row">
    <div class="col">
        <app-yml-builder-form></app-yml-builder-form>
    </div>

    <div class="col-5">
        <div class="row">
            <div class="col">
                <app-yml-builder-preview></app-yml-builder-preview>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-yml-builder-downloader></app-yml-builder-downloader>
            </div>
        </div>
    </div>
</div>