<div class="card mb-2 p-0">
    <div class="card-header">docker-compose.yml</div>
    <div class="card-body p-0">
        <pre class="m-0"><code lang="yaml" [highlight]="yml"></code></pre>
    </div>
</div>

<div class="card mb-2 p-0">
    <div class="card-header">{{this.rebuildShPath}}</div>
    <div class="card-body p-0">
        <pre class="m-0"><code lang="shell" [highlight]="rebuildSh"></code></pre>
    </div>
</div>