<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/favicon.png" alt="" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Config Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://gitlab.com/daemonraco-dev/vscoder/-/blob/master/README.md"
                        target="_blank" aria-current="page">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="about" routerLinkActive="active">About</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
